/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 .f-left{float:left;}
 .f-right{float:right;}
 .clear{clear:both;}
 .MarTop25{margin-top: 25px;}

 .form-control{width:50%;}
 .H-spacing-160{margin-left: 160px;}

 .divider {
     width:800px;
     text-align:center;
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .divider hr {
     margin-left:auto;
     margin-right:auto;
     width:40%;

 }

 .left {
     float:left;
 }

 .right {
     float:right;
 }

 .container .alert{margin-top: 52px;}
